<div class="container h-100 main-window" id="loginWindow">
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card bg-dark text-white h-100" style="border-radius: 1rem;">
				<div class="card-body p-5 text-center h-100">
					<div class="mb-md-5 mt-md-4">
						<div class="w-100 d-flex flex-row justify-content-center align-items-center mb-4">
							<img class="logo" src="/static/logo.svg" />
							<h1 class="ms-3 mb-0">Bizcord</h1>
						</div>

						<div class="form-outline form-white mb-4">
							<input type="text" id="usernameInput" class="form-control form-control-lg" />
							<label class="form-label" for="usernameInput">Username</label>
						</div>
						<button class="btn btn-outline-light btn-lg px-5" type="submit" id="loginButton">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>